*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
}

.box {
    display: flex;
    width: 70%;
    background-color: rgb(34, 202, 42);
    margin: 0 auto;
    justify-content: space-between;
}

.box div{
    background-color: brown;
    width: 15%;
    text-align: center;
    border-radius: 12px;
    padding: 10px 0;
}

.box div:hover{
    background-color: green;
    cursor: pointer;
}
