*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
}

.box {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.box div{
    background-color: rgb(42, 165, 79);
    width: 15%;
    text-align: center;
    border-radius: 12px;
    padding: 10px 0;
    line-height: 25px;
    
}

.box div:hover{
    background-color: green;
    cursor: pointer;
}

.si{
    background-color: rgb(138, 20, 79);
    padding: 3%;
}