:root{
    --blancio:white;
    --oscuro:black;
    --primario:#187e31;
    --secundario:rgb(0, 247, 255) ;
    --gris:grey;
    --tamaño-fuente:16px;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgb(200, 0, 250);
    font-size: var(--tamaño-fuente);
    font-family:'Montserrat' ;
}

.contenedor{
    width: 75%;
    margin: 0 auto;
}

.contenedor{
    color: yellow;
}

.bg-secundario{
    background-color: var(--primario);
}

h1{
    background-color: black;
    color: rgb(0, 255, 213);
    text-align: justify;
    font-size: 2.5rem;
}

h2{
    color: orange;
    font-size: 1.8rem;
}

h3{
    color: brown;
}

.title{
    color:var(--secundario);
    text-align: center;
    font-size: 3.8rem
}

.title span{
    color:var(--primario);
    font-size: 2rem;
}
p{
    font-size: 2rem;
}
.navegacion-principal{
    display: flex;
    justify-content: space-around;
    background-color:var(--primario) ;
}

@media (min-widht: 400px) {
    .navegacion-principal{
        flex-direction: row;
    }
}

.navegacion-principal a{
    color: var(--blancio);
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
    background-color: pink;
}

.navegacion-principal a:hover{
    color: var(--oscuro);
    background-color: var(--secundario);
}